<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playgardens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Playgardens</h1>
    
        <nav>
          <ul>
    
            <li><a href="/">Home</a></li>
    
            {% if 'user_id' in session %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
    
            <li><a href="/chat">Chat</a></li>
            <li><a href="/communities">Communities</a></li>
    
          </ul>
        </nav>
    
      </header>
    <main>
        <section class="cta-section">
            <h2>Join Our Community</h2>
            <p>Connect with garden enthusiasts around the world.</p>
            <a href = "/register"> <button class="cta-button">Join Now</button> </a>
        </section>
        <section>
            <h2>Featured Gardens</h2>
            <!-- List of Gardens -->
        </section>
        <section>
            <h2>Latest Discussions</h2>
            <!-- Latest discussion threads -->
        </section>
        <section>
            <h2>Communities</h2>
            <a href="{{ url_for('create_community') }}" class="btn btn-primary">Create Community</a>
            <ul>
                {% for community in communities %}
                <li><a href="{{ url_for('community', community_id=community.id) }}">{{ community.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2023 Playgardens</p>
    </footer>
</body>
</html>
